body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .autopay-info {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .autopay-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .autopay-button:hover {
    background-color: #218838;
  }
  
  .status-message {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .status-current {
    color: #28a745;
  }
  
  .status-overdue {
    color: #dc3545;
  }
  